.field {
    position: absolute;
    width: 64px;
    height: 64px;
    z-index: 300;
}

.red {
    background-color: rgba(190, 80, 120, .3);
}

.green {
    background-color: rgba(85, 255, 0, 0.3)
}

.army {
    width: 64px;
    height: 64px;
    z-index: 300;
}

.active {
    background-color: rgba(72, 122, 180, .5)
}