html {
  --w: 23;
  --h: 23;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  position: fixed;
  top: 9%;
  bottom: 5%;
  left: 4%;
  right: 4%;
  border: 2px solid black;
  overflow: hidden;
}

.map {
  width: calc(var(--w) * 64px);
  height: calc(var(--h) * 64px);
  transition: all ease 1s;
}

.map-img {
  width: calc(var(--w) * 64px);
  height: calc(var(--h) * 64px);
  position: absolute;
  top: 0;
  left: 0;
}


